.page-section {
  /*border: 5px dotted pink;*/

  &--margins-large {
    margin-left: 5%;
    margin-right: 5%;
  }

  &--padding-top {
    padding-top: 50px;
  }

  &--padding-bottom {
    padding-bottom: 50px;
  }

  &--padding-sides {
    padding-left: 20px;
    padding-right: 20px;

    @mixin atLarge {
      padding-left: 100px;
      padding-right: 100px;
    }

  }

  &--bg-gray {
    background-color: $mainGray;
  }
}
