.portfolio {
  text-align: center;
  /*border: 3px dotted blue;*/


  &__thumb {
    border: 3px solid #aaa;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 0 10px;
    width: 85%;
    /*height: 300px;*/

  }

  &__photo {

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 0px;

    @mixin atLarge {
      width: 95%;
    }
  }

  &__photo:hover {
    opacity: .6;
  }


}
